/* Background */
body{
    background-image: url('bubbles.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu & Title */
.nav{
    padding: 0;
    justify-content: end;
  
}

#login a{
   text-decoration: none;
}

#tpName{
    margin: 0 auto;
}


/* Cards */

.card{
    --bs-card-bg: transparent !important;
}

.card-body, .list-group list-group-flush{
    background-color:  rgba(75, 75, 75, 0.432)!important;
    

}
input{
    background-color: transparent;
}

#hpTask, #lpTask{
    background-color: transparent;
}
li .list-group-item{
    /* background-color: transparent; */
    list-style: none;
      
} 



.col{
    text-align: center; 
    padding: 0;
   
}

.line{
    height: 1px;
    background: rgb(144, 144, 144);
}
.card{
    margin: 0 auto;
}


#hpTask input, #lpTask input{
    border: none;
}
